<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../colors/colors.css">
    <link rel="stylesheet" href="../styles/register.css">
</head>

<body>

    <div class="registrationcontainer">

        <img src="../../assets/arrow_backwards.svg" alt="" class="arrow">

        <div class="header">

            <h1 class="headertext">Sign up</h1>

            <img src="../../assets/underline.svg" alt="" class="textunderline">

        </div>

        <form action="" class="resistrationform">

            <div class="inputcontainer">
                <input type="text" name="" placeholder="Name" id="" class="resgistrationinput" required>
                <img src="../../assets/userlogo.svg" alt="" class="inputlogo">
            </div>

            <div class="inputcontainer">
                <input type="email" name="" placeholder="Email" id="" class="resgistrationinput" required>
                <img src="../../assets/mail.svg" alt="" class="inputlogo">
            </div>

            <div class="inputcontainer">
                <input type="password" name="" placeholder="Password" id="" class="resgistrationinput" required>
                <img src="../../assets/lock.svg" alt="" class="inputlogo">
            </div>

            <div class="inputcontainer">
                <input type="password" name="" placeholder="Confirm Password" id="" class="resgistrationinput" required>
                <img src="../../assets/lock.svg" alt="" class="inputlogo">
            </div>

            <div class="checkboxcontainerreg">
                <input type="checkbox" name="" id="acceptpp" required>
                <label for="acceptpp" class="customcheckbox">
                </label>
                <div class="acceptpp">
                    I accept the <a href="../../privacypolicyframe/index.html" target="_blank">Privacy Policy</a>
                </div>
            </div>

            <button type="submit" class="submitbutton" disabled>Sign up</button>

        </form>

    </div>

    <script type="module" src="../scripts/registration.js"></script>
</body>

</html>